<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kossy Hotel</title>
    <%- include('./partial/bootstrap') %>
  </head>
  <body>
    <%- include('./partial/navbar') %>
    <h1>Home</h1>

    <% regionFilter.forEach(el => { %>
    <button><a href="/home?region=<%=el%>"><%= el %></a></button>
    <% }) %>
    <br><br>
    <table class="table table-bordered">
      <tr>
        <th>Picture</th>
        <th>Details</th>
        <th>Action</th>
      </tr>
      <% hotels.forEach(el => { %>
       <% el.Rooms.forEach(ele => { %>
        <tr>
          <td><img src="<%= ele.imageURL %>" alt="Picture of Room" width="150px"></td>
          <td>
            <b><%= el.name %></b>
            <br>
            <%= el.address %>
            <hr>
            Amenities : <br>
            <% amenities.forEach((element,idx) => { %>
             <%= element.name %>
             <% if (idx !== amenities.length-1) { %>
              ,
             <% } %>
            <% }) %>
          </td>
          <td>
            <%= ele.formattedPrice %>
            <p>PER NIGHT</p>
            <a href="/user/<%= userId %>/roomdetail/<%= ele.id %>"><button>Details</button></a>
          </td>
        </tr>
       <% }) %>
      <% }) %>
    </table>
  </body>
</html>
