<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kossy Hotel</title>
    <%- include('./partial/bootstrap') %>
  </head>
  <body>
    <%- include('./partial/navbar') %>
    <h1>Home</h1>

    <% regionFilter.forEach(el => { %>
    <button><a href="/home?region=<%=el%>"><%= el %></a></button>
    <% }) %>
    <table border="2">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Region</th>
      </tr>
      <% hotels.forEach(el => { %>
      <tr>
        <td><%= el.name %></td>
        <td><%= el.address %></td>
        <td><%= el.region %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
