<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../partial/bootstrap') %>
  </head>
  <body>
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <div class="card shadow">
        <div class="justify-content-center">
          <img
            style="width: 150px; height: 200px"
            src="<%= profile.profile_pic %>"
            alt="Profile pic"
          />
        </div>
        <form action="/user/<%= UserId %>/profile/edit" method="post">
          <div>
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="<%= profile.name %>"
            />
            <label for="phone_number">Phone Number</label>
            <input
              type="text"
              name="phone_number"
              id="phone_number"
              placeholder="<%= profile.phone_number %>"
            />
          </div>

          <div>
            <label for="profile_pic">Image</label>
            <input
              type="text"
              name="profile_pic"
              id="profile_pic"
              value="<%= profile.profile_pic %>"
            />
          </div>

          <button type="submit">Submit</button>
        </form>
        <br />
        <a href="/user/<%= UserId %>/profile/"><button>Cancel</button></a>
      </div>
    </div>
  </body>
</html>
