<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<%- include('../partial/bootstrap') %>
</head>
<body>
	<%- include('../partial/navbar') %>
	<h1>Profile</h1>
	<img src="" alt="Profile Picture">
	<a href="/user/<%= UserId %>/profile/edit"><button>Edit</button></a>
	<table>
		<tr>
			<th>Nama</th>
			<th>:</th>
			<td>
				<%= profileData.name %>
			</td>
		</tr>
		<tr>
			<th>Username</th>
			<th>:</th>
			<td>
				<%= userData.username %>
			</td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<th>:</th>
			<td>
				<%= profileData.phone_number %>
			</td>
		</tr>
	</table>

	<br>

	<h2>Reservation</h2>
	<% if (reservationData.length !==0) { %>
	<table border="1">
		<tr>
			<th>No.</th>
			<th>Room Number</th>
			<th>Room Type</th>
			<th>Name</th>
			<th>Address</th>
			<th>Region</th>
			<th>Check-In</th>
			<th>Check-Out</th>
			<th>Total Price</th>
			<th>Action</th>
		</tr>
		<% reservationData.forEach((el,idx)=> { %>
			<tr>
				<td><%= idx+1 %></td>
				<td><%= el.Room.dataValues.room_number %></td>
				<td><%= el.Room.dataValues.type %></td>
				<td><%= el.Room.dataValues.Hotel.name %></td>
				<td><%= el.Room.dataValues.Hotel.address %></td>
				<td><%= el.Room.dataValues.Hotel.region %></td>
				<td><%= el.formattedCheckIn() %></td>
				<td><%= el.formattedCheckOut() %></td>
				<td><%= el.formattedPrice %></td>
				<td><a href="/user/<%= UserId %>/profile/<%= el.id %>/delete"><Button>Delete</Button></a></td>
			</tr>
			<% }) %>
	</table>
	<% } %>

</body>

</html>